.halfView {
    width: 60%;
    margin: auto;

}

.fullview {
    width: 60%;
}

@media screen and (max-width: 992px) {
    .halfView {
        width: 100%;
    }

    .fullview {
        width: 60%;
    }
}

@media screen and (max-width: 670px) {
    .fullview {
        width: 80%;
    }

    .halfView {
        width: 100%;
    }


}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}